.boxcard {
  box-shadow: 18px 17px 35px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 18px 17px 35px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 17px 35px 3px rgba(0, 0, 0, 0.75);

  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* .back {
  background: rgb(128, 135, 209);
  background: radial-gradient(
    circle,
    rgba(128, 135, 209, 1) 19%,
    rgba(0, 212, 255, 1) 57%,
    rgba(2, 0, 36, 1) 100%
  );
} */

.back {
  background: rgb(245, 245, 245);
  background: radial-gradient(
    circle,
    rgba(245, 245, 245, 1) 53%,
    rgba(205, 197, 197, 1) 97%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardbox {
  background: #f7f8f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acbb78,
    #f7f8f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acbb78,
    #f7f8f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
